<html>
	<head>
	    <title>
	    	Internal Server Error
	    </title>
	</head>
	<body>
	    <div style="background-color:#AEAEB4">
	    <br/>
	        <center>
		        <h1>
		        	500
		        </h1>
		        <h2>
		         	 Internal Server Error
		        </h2>
		        <b> Please contact your administrator when you reach this page. 
		        This may arise due to errors or if the data for Atlas from its sources is unavailable.
		        Sorry for the inconvenience.</b>
		    
		    <br/><br/>
	    		<button onclick="window.history.back();">Back</button>
	    	<br/><br/>
	    </center>
	    </div>
	</body>
</html>