{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
    <title>{% block head_title %}Atlas{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  {% block bodytag %}
  <body>
  {%endblock %}
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
